:root {
  --todo-intput-height: 3rem;
  --todo-intput-font-size: 2rem;
}

body {
  background-color:floralwhite;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  margin-top: 15vh;
}

#topdivision {
  background-color: lavender;
  width: 100%
}


.moodtag {
  background-color: aquamarine;
  border: 1px solid black;
  float: left;
  border-radius: 1rem;
  font-size: small;
  margin: 0.5rem;
}
.personaltag {
  background-color: bisque;
  border: 1px solid black;
  float: left;
  border-radius: 1rem;
  font-size: small;
  margin: 0.5rem;
}
.date {
  float: right;
  margin: 0.5rem;
}

#editbutton {
  margin-top: 2rem;
  float: right;
  padding: 0 1rem;
  gap: 1rem;
  
}

#textarea {
  margin: 1rem; 
 
}

.description {
  padding: 1rem;
  font-size: 1rem;
  width: 50%;
  height: 20 rem;
  
}
